/** Font **/
@font-face {
    font-family: "Retron2000";
    src: url("/assets/fonts/Retron2000.ttf");
}

/** Root **/
.root {
    -fx-background-image: url("/assets/background.png");
    -fx-background-size: cover;
    -fx-background-position: 50% 50%;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "Retron2000";
    -fx-font-size: 30px;
}

/** Label **/
.label {
    -fx-text-fill: #fff;
}

/** Button **/
.button {
    -fx-background-color: #98d2ff29;
    -fx-background-radius: 500px;
    -fx-text-fill: #fff;
    -fx-border-width: 3px;
    -fx-border-color: #98d2ff;
    -fx-border-radius: 500px;
    -fx-padding: 10px 22px;
    -fx-cursor: hand;
}

.button.large-padding {
    -fx-padding: 20px 160px;
}

.button.no-style {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.button:hover,
.button.selected {
    -fx-text-fill: #333;
    -fx-background-color: #98d2ff;
}

.button:pressed {
    -fx-background-color: #73a7cf;
    -fx-border-color: #73a7cf;
    -fx-text-fill: #333;
}

/** Settings panel **/
.settings-panel {
    -fx-background-image: url("/assets/panels/settings.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-padding: 80px 50px;
}

/** Popup panel **/
.popup-panel {
    -fx-background-color: #c42f2ce7;
    -fx-padding: 50px 30px;
}
